html{
    --yellow-color: #F4D04E;
    --gray-950-color: #111111;
    --gray-500-color: #6B6B6B;
    --white-color: #FFFFFF;

    --font-size-preset-1: 1.5rem;
    --font-size-preset-2: 1rem;
    --font-sizep-preset-3: 0.875rem;

    --font-weight-extra-bold: 800;
    --font-weight-medium: 500;
}

* {
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    min-height: 100vh;
    padding: 1rem;

    font-size: 0.875rem;
    font-family: "Figtree", sans-serif;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    letter-spacing: 0;
}


.card {
    background-color: var(--white-color);
    border-radius: 20px;
    max-width: 24rem;
    padding: 1.5rem 1.5rem;
    margin: 2rem 0;
    box-shadow: 8px 8px 0 #000000;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.content{
    margin: 1rem 0;
}

.category-tag {
    background-color: var(--yellow-color);
    max-width: fit-content;
    border-radius: 4px;
    padding: 0.25rem 0.875rem;
    margin-bottom: 0.75rem;
    font-weight: var(--font-weight-extra-bold);
}

.publish-date{
    color: var(--gray-950-color);
    margin-bottom: 0.75rem;
}

.title {
    margin-bottom: 0.75rem;
    color: var(--gray-950-color);
    font-weight: var(--font-weight-extra-bold);
    font-size: 1.5rem;
}

.title:hover{
    color: var(--yellow-color);
    cursor: pointer;
}

.description{
    color: var(--gray-500-color);
    font-size: 1rem;
}

.author{
    display: flex;
    align-items: center;
}

.avatar{
    max-width: 2rem;
    height: auto;
}

.author-name{
    font-weight: var(--font-weight-extra-bold);
    margin-left: 0.375rem;
}

footer{
   margin-top: auto;
   margin-bottom: 1rem; 
}